/* RESET */
body {
    margin: 0;
    font-family: Arial;
}

/* INTRO SCREEN */
.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 40px;
}

/* HERO (HIDDEN INITIALLY) */
.hero {
    display: none;
    height: 100vh;
    width: 100%;

    background-image: url('public.jpg');
    background-size: contain;   /* FULL IMAGE */
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEXT ON IMAGE */
.content {
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 35px;
}

.content p {
    font-size: 18px;
}